html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.py-3 {
    padding-block: 0.75rem;
}

.px-3\.5 {
    padding-inline: 0.875rem;
}

.border-t {
    border-top-style: solid;
    border-top-width: 1px;
}

.border-surface-200 {
    border-color: #e2e8f0;
}